.DS_Store
*/.DS_Store/
99-set-env.sh
*/99-set-env.sh
03-eks-flink-example/resources/result.txt
03-eks-flink-example/resources/s3-sink/*
03-eks-flink-example/resources/s3-sink
03-eks-flink-example/resources/flink-java/target/*
03-eks-flink-example/resources/flink-java/target